.stylefordiv {
    border:1px solid rgb(238, 237, 233);
    background: #ece9e7;
    /*padding:10px;*/
}
h1{
    font-weight:Book;
}
.customIcon{
    width: 22px;
    height: 26px;
    margin: 5px;
}
.customLayoutPosition{
    margin-left: 27px;
    margin-top: -21px;
  }