div.top {
    background-color: rgb(255, 255, 255);
    padding: 1.5rem 2.5rem 2.5rem 2.5rem;
    width: 100%;
}

div.main {
    max-width: 600px;
}

div.heading {
    color: #2B2826;
}

div.inputs {
    max-width: 500px;
}