.bottom-border {
    border: 1px solid rgb(221 219 218);
    margin: 10px 0px 10px 0px;
}
.marginRequired{
    margin-top:50px;
  }
/* iPad */
@media only screen and (min-width: 0px) and (max-width: 1024px) and (orientation:portrait) {
    .marginRequired{
        margin-top:60px;
    }
}
@media only screen and (min-device-width: 0px) and (max-device-width: 1024px) and (orientation:landscape) {
    .marginRequired{
        margin-top:60px;
    }
}